NLP FIRST EXERCISES

In [17]:
text="""
2001 Harry Potter and the Philosopher's Stone33
2002 Harry Potter and the Chamber of Secrets4
2004 Harry Potter and the Prisoner of Azkaban5
2005 Harry Potter and the Goblet of Fire5
2007 Harry Potter and the Order of the Phoenix6
2009 Harry Potter and the Half-Blood Prince7
2010 Harry Potter and the Deathly Hallows – Part 1
2011 Harry Potter and the Deathly Hallows – Part 2"""
text

"\n2001 Harry Potter and the Philosopher's Stone33\n2002 Harry Potter and the Chamber of Secrets4\n2004 Harry Potter and the Prisoner of Azkaban5\n2005 Harry Potter and the Goblet of Fire5\n2007 Harry Potter and the Order of the Phoenix6\n2009 Harry Potter and the Half-Blood Prince7\n2010 Harry Potter and the Deathly Hallows – Part 1\n2011 Harry Potter and the Deathly Hallows – Part 2"

In [18]:
text.split()

['2001',
 'Harry',
 'Potter',
 'and',
 'the',
 "Philosopher's",
 'Stone33',
 '2002',
 'Harry',
 'Potter',
 'and',
 'the',
 'Chamber',
 'of',
 'Secrets4',
 '2004',
 'Harry',
 'Potter',
 'and',
 'the',
 'Prisoner',
 'of',
 'Azkaban5',
 '2005',
 'Harry',
 'Potter',
 'and',
 'the',
 'Goblet',
 'of',
 'Fire5',
 '2007',
 'Harry',
 'Potter',
 'and',
 'the',
 'Order',
 'of',
 'the',
 'Phoenix6',
 '2009',
 'Harry',
 'Potter',
 'and',
 'the',
 'Half-Blood',
 'Prince7',
 '2010',
 'Harry',
 'Potter',
 'and',
 'the',
 'Deathly',
 'Hallows',
 '–',
 'Part',
 '1',
 '2011',
 'Harry',
 'Potter',
 'and',
 'the',
 'Deathly',
 'Hallows',
 '–',
 'Part',
 '2']

In [19]:
text.split("\n")

['',
 "2001 Harry Potter and the Philosopher's Stone33",
 '2002 Harry Potter and the Chamber of Secrets4',
 '2004 Harry Potter and the Prisoner of Azkaban5',
 '2005 Harry Potter and the Goblet of Fire5',
 '2007 Harry Potter and the Order of the Phoenix6',
 '2009 Harry Potter and the Half-Blood Prince7',
 '2010 Harry Potter and the Deathly Hallows – Part 1',
 '2011 Harry Potter and the Deathly Hallows – Part 2']

In [20]:
ntext=text.split("\n")

In [21]:
import pandas as pd
s=pd.Series(ntext)
s

0
1      2001 Harry Potter and the Philosopher's Stone33
2        2002 Harry Potter and the Chamber of Secrets4
3       2004 Harry Potter and the Prisoner of Azkaban5
4            2005 Harry Potter and the Goblet of Fire5
5      2007 Harry Potter and the Order of the Phoenix6
6         2009 Harry Potter and the Half-Blood Prince7
7    2010 Harry Potter and the Deathly Hallows – Pa...
8    2011 Harry Potter and the Deathly Hallows – Pa...
dtype: object

In [22]:
se=s[1:len(s)]
se

1      2001 Harry Potter and the Philosopher's Stone33
2        2002 Harry Potter and the Chamber of Secrets4
3       2004 Harry Potter and the Prisoner of Azkaban5
4            2005 Harry Potter and the Goblet of Fire5
5      2007 Harry Potter and the Order of the Phoenix6
6         2009 Harry Potter and the Half-Blood Prince7
7    2010 Harry Potter and the Deathly Hallows – Pa...
8    2011 Harry Potter and the Deathly Hallows – Pa...
dtype: object

In [26]:
df=pd.DataFrame(se,columns=["movies"])
df

                                              movies
1    2001 Harry Potter and the Philosopher's Stone33
2      2002 Harry Potter and the Chamber of Secrets4
3     2004 Harry Potter and the Prisoner of Azkaban5
4          2005 Harry Potter and the Goblet of Fire5
5    2007 Harry Potter and the Order of the Phoenix6
6       2009 Harry Potter and the Half-Blood Prince7
7  2010 Harry Potter and the Deathly Hallows – Pa...
8  2011 Harry Potter and the Deathly Hallows – Pa...

In [27]:
series=df["movies"].apply(lambda x: " ".join(x.lower() for x in x.split()))
series

1      2001 harry potter and the philosopher's stone33
2        2002 harry potter and the chamber of secrets4
3       2004 harry potter and the prisoner of azkaban5
4            2005 harry potter and the goblet of fire5
5      2007 harry potter and the order of the phoenix6
6         2009 harry potter and the half-blood prince7
7    2010 harry potter and the deathly hallows – pa...
8    2011 harry potter and the deathly hallows – pa...
Name: movies, dtype: object

In [28]:
series=series.str.replace("[^\w\s]","")
series

1       2001 harry potter and the philosophers stone33
2        2002 harry potter and the chamber of secrets4
3       2004 harry potter and the prisoner of azkaban5
4            2005 harry potter and the goblet of fire5
5      2007 harry potter and the order of the phoenix6
6          2009 harry potter and the halfblood prince7
7    2010 harry potter and the deathly hallows  part 1
8    2011 harry potter and the deathly hallows  part 2
Name: movies, dtype: object

In [30]:
series=series.str.replace("\d","")
series

1         harry potter and the philosophers stone
2         harry potter and the chamber of secrets
3        harry potter and the prisoner of azkaban
4             harry potter and the goblet of fire
5       harry potter and the order of the phoenix
6           harry potter and the halfblood prince
7     harry potter and the deathly hallows  part
8     harry potter and the deathly hallows  part
Name: movies, dtype: object

In [ ]:
#stopwords-> the,end etc

In [42]:
df=pd.DataFrame(series,columns=["movies"])
df

                                         movies
1       harry potter and the philosophers stone
2       harry potter and the chamber of secrets
3      harry potter and the prisoner of azkaban
4           harry potter and the goblet of fire
5     harry potter and the order of the phoenix
6         harry potter and the halfblood prince
7   harry potter and the deathly hallows  part
8   harry potter and the deathly hallows  part

In [32]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.14.0)

In [33]:
import nltk

In [34]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [35]:
from nltk.corpus import stopwords

In [37]:
sw=stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [44]:
df=df["movies"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
df

1      harry potter philosophers stone
2         harry potter chamber secrets
3        harry potter prisoner azkaban
4             harry potter goblet fire
5           harry potter order phoenix
6        harry potter halfblood prince
7    harry potter deathly hallows part
8    harry potter deathly hallows part
Name: movies, dtype: object

In [48]:
df=pd.DataFrame(df, columns=["movies"])

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
pd.Series(" ".join(df["movies"]).split()).value_counts()

harry           8
potter          8
hallows         2
part            2
deathly         2
goblet          1
secrets         1
phoenix         1
stone           1
philosophers    1
prisoner        1
prince          1
fire            1
azkaban         1
halfblood       1
chamber         1
order           1
dtype: int64

In [61]:
dlt=pd.Series(" ".join(df["movies"]).split()).value_counts()[-2:]

In [62]:
dlt

chamber    1
order      1
dtype: int64

In [63]:
df["movies"].apply(lambda x: " ".join(x for x in x.split() if x not in dlt))

1      harry potter philosophers stone
2                 harry potter secrets
3        harry potter prisoner azkaban
4             harry potter goblet fire
5                 harry potter phoenix
6        harry potter halfblood prince
7    harry potter deathly hallows part
8    harry potter deathly hallows part
Name: movies, dtype: object

In [ ]:
#tokenization

In [64]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [65]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1; python_version >= "3" in c:\users\user\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.1; python_version >= "3"->textblob) (1.14.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [66]:
import textblob

In [67]:
from textblob import TextBlob

In [69]:
TextBlob(df["movies"][1]).words

WordList(['harry', 'potter', 'philosophers', 'stone'])

In [70]:
df["movies"].apply(lambda x:TextBlob(x).words)

1       [harry, potter, philosophers, stone]
2          [harry, potter, chamber, secrets]
3         [harry, potter, prisoner, azkaban]
4              [harry, potter, goblet, fire]
5            [harry, potter, order, phoenix]
6         [harry, potter, halfblood, prince]
7    [harry, potter, deathly, hallows, part]
8    [harry, potter, deathly, hallows, part]
Name: movies, dtype: object

In [ ]:
#stemming

In [72]:
from nltk.stem import PorterStemmer
st=PorterStemmer()

In [73]:
df["movies"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1        harri potter philosoph stone
2         harri potter chamber secret
3         harri potter prison azkaban
4            harri potter goblet fire
5          harri potter order phoenix
6        harri potter halfblood princ
7    harri potter deathli hallow part
8    harri potter deathli hallow part
Name: movies, dtype: object

In [ ]:
#Lemmatization

In [74]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...

True

In [75]:
df["movies"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1       harry potter philosopher stone
2          harry potter chamber secret
3        harry potter prisoner azkaban
4             harry potter goblet fire
5           harry potter order phoenix
6        harry potter halfblood prince
7    harry potter deathly hallows part
8    harry potter deathly hallows part
Name: movies, dtype: object

In [76]:
df["movies"][0:5]

1    harry potter philosophers stone
2       harry potter chamber secrets
3      harry potter prisoner azkaban
4           harry potter goblet fire
5         harry potter order phoenix
Name: movies, dtype: object

In [82]:
e_df=df.copy()

In [84]:
e_df["movies"]

1      harry potter philosophers stone
2         harry potter chamber secrets
3        harry potter prisoner azkaban
4             harry potter goblet fire
5           harry potter order phoenix
6        harry potter halfblood prince
7    harry potter deathly hallows part
8    harry potter deathly hallows part
Name: movies, dtype: object

In [86]:
e_df["number"]=df["movies"].str.len()
e_df

                              movies  number
1    harry potter philosophers stone      31
2       harry potter chamber secrets      28
3      harry potter prisoner azkaban      29
4           harry potter goblet fire      24
5         harry potter order phoenix      26
6      harry potter halfblood prince      29
7  harry potter deathly hallows part      33
8  harry potter deathly hallows part      33

In [87]:
a="harry potter philosophers stone"

In [88]:
a.split()

['harry', 'potter', 'philosophers', 'stone']

In [89]:
len(a.split())

4

In [92]:
e_df.iloc[0:1,0:1]

                            movies
1  harry potter philosophers stone

In [96]:
e_df["word count"]=e_df["movies"].apply(lambda x:len(x.split(" ")))
e_df

                              movies  number  word count
1    harry potter philosophers stone      31           4
2       harry potter chamber secrets      28           4
3      harry potter prisoner azkaban      29           4
4           harry potter goblet fire      24           4
5         harry potter order phoenix      26           4
6      harry potter halfblood prince      29           4
7  harry potter deathly hallows part      33           5
8  harry potter deathly hallows part      33           5

In [108]:
e_df["special_char"]=e_df["movies"].apply(lambda x: len([x for x in x.split() if x.startswith("harry")]))

In [109]:
e_df

                              movies  number  word count  special_char
1    harry potter philosophers stone      31           4             1
2       harry potter chamber secrets      28           4             1
3      harry potter prisoner azkaban      29           4             1
4           harry potter goblet fire      24           4             1
5         harry potter order phoenix      26           4             1
6      harry potter halfblood prince      29           4             1
7  harry potter deathly hallows part      33           5             1
8  harry potter deathly hallows part      33           5             1

In [111]:
df2=pd.DataFrame(se,columns=["movies"])
df2

                                              movies
1    2001 Harry Potter and the Philosopher's Stone33
2      2002 Harry Potter and the Chamber of Secrets4
3     2004 Harry Potter and the Prisoner of Azkaban5
4          2005 Harry Potter and the Goblet of Fire5
5    2007 Harry Potter and the Order of the Phoenix6
6       2009 Harry Potter and the Half-Blood Prince7
7  2010 Harry Potter and the Deathly Hallows – Pa...
8  2011 Harry Potter and the Deathly Hallows – Pa...

In [115]:
e_df["number count"]=df2["movies"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [116]:
e_df

,movies,number,word count,special_char,number count
1,harry potter philosophers stone,31,4,1,1
2,harry potter chamber secrets,28,4,1,1
3,harry potter prisoner azkaban,29,4,1,1
4,harry potter goblet fire,24,4,1,1
5,harry potter order phoenix,26,4,1,1
6,harry potter halfblood prince,29,4,1,1
7,harry potter deathly hallows part,33,5,1,2
8,harry potter deathly hallows part,33,5,1,2